body {
    font-family: "Verdana, Arial, sans-serif";
}

td {
    padding: 6px;
    border-bottom: 1px solid gray;
}

th {
    background-color: #b7d0ff;
    font-style: bold;
    padding: 12px 0px 12px 6px;
    border-bottom: 2px solid gray;
}

table {
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
}